<h2 class="titulo-servicios">
  <b>Servicios</b></h2>

<div class="servicios-container">
  <div class="fondo-gris"></div>
  <div class="servicio-box cliente-container">
    <h3><b>Clientes</b></h3>
    <div align="justify">
      <p>"Para nuestros clientes, les brindamos la posibilidad de
        comprar productos y acumular puntos que pueden canjear por
        recompensas. Además, les mantenemos al tanto de los eventos
        y promociones más recientes que los bares deseen destacar,
        brindando una experiencia completa y gratificante en sus
        salidas nocturnas.".</p><br><br>
    </div>
    <button class="empezar-button-clientes">Empezar</button>
  </div>

  <div class="servicio-box bar-container">
    <h3><b>Bares</b></h3>
    <div align="justify">
      <p>"Para los profesionales del sector de bares, proporcionamos una solución completa que incluye la gestión del
        inventario y la promoción de productos, así como la capacidad de destacar y promocionar eventos especiales que
        deseen organizar. Nuestra plataforma brinda herramientas integrales para optimizar la operación de su negocio y
        aumentar la visibilidad de sus ofertas.".</p><br><br>
    </div>
    <button class="empezar-button-bar">Empezar</button>
  </div>
</div>
