.title-support {
  font-size:4em;
  text-align: center;
  margin-top: 1.4em;
  margin-bottom: 1em;
  color: #c5bfbc;
  font-family: 'Inter', sans-serif;
}

.question-box {
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  max-width: 60em;
  max-height: 10em;
  margin: 0 auto;
  display: flex; /* Usa flexbox para alinear elementos verticalmente */
  flex-direction: column; /* Apila elementos verticalmente */
  justify-content: center; /* Centra verticalmente los elementos */
}

.preguntar-button {
  background-color: #007bff;
  margin-top: 1em; /* Espacio superior para separar el botón del textarea */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}




.question-box label {
  font-size: 16px;
}

.question-box textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Ajusta el estilo de los cuadros de respuesta */
/* Ajusta el estilo del contenedor de respuestas */
.answers-box {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente los cuadros de respuestas */
}

.answers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.answer {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(25% - 20px);
  box-sizing: border-box;
}

.answer p {
  font-size: 16px;
  margin: 0;
}





.subtitle {
  font-size: 18px;
}

.ticket-box {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.ticket-box label {
  font-size: 16px;
}

.ticket-box input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.ticket-box button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.ticket-box button:hover {
  background-color: #0056b3;
}



