<!-- Add/Edit Form -->
<h2>{{ editMode ? 'Edit Ingredients': 'Add Ingredients' }}</h2>
<div class="form-section">
  <form (submit)="onSubmit()" #studentForm='ngForm' class="form-row">
    <mat-form-field>
      <input matInput placeholder="Id" name="id" required [(ngModel)]="student.id">
    </mat-form-field>
    <mat-form-field id="age-form-field">
      <input matInput placeholder="Name" name="name" required [(ngModel)]="student.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cost" name="cost" required [(ngModel)]="student.cost">
    </mat-form-field>
    <ng-container *ngIf="editMode; else elseTemplate">
      <button mat-raised-button color="primary">Update</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-raised-button color="primary">Add</button>
    </ng-template>
  </form>
</div>
