/* Estilos para el formulario de registro */
.login-container {
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
  justify-content: center;
  margin-top: 5rem;
}

/* Sección del formulario de registro */
.login-container .wrapper {
  position: relative;
  display: flex;
  width: 400px;
  height: 440px;
  background: rgb(49, 48, 48);
  border: 2px solid #fff;
  border-radius: 2rem;
  backdrop-filter: blur(0.5rem);
  box-shadow: 0 0 30px rgb(164, 224, 245);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transition: height .2s ease;
  overflow: hidden;
}

.login-container .wrapper.active {
  height: 720px;
}

.wrapper .form-box {
  width: 100%;
  padding: 1rem;
}

/* Mover el formulario de registro a la izquierda */
.wrapper .form-box.register {
  transition: transform .20s ease;
  transform: translateX(0);
}

/* Mover el formulario de registro a la derecha */
.wrapper.active .form-box.register {
  transition: none;
  transform: translateX(400px);
}

.form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 3rem;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #b8e9ff;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

/* Hace que el título de email & password suban ligeramente al hacer clic sobre ellos */
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 0 1rem 0;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #eadfdf;
  line-height: 57px;
}

.btn {
  width: 100%;
  height: 3.4rem;
  background: rgba(1, 171, 225, 0.73);
  border: none;
  outline: none;
  border-radius: 1.3rem;
  cursor: pointer;
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
  margin-top: .9rem;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.89);
  color: #01abe1;
  transition: .5s;
}

.login-register-cliente {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 1.5rem 0 0.4rem;
  font-weight: 500;
}

.login-register-cliente p a {
  color: #01abe1;
  text-decoration: none;
  font-weight: 600;
}

.login-register-cliente p a:hover {
  text-decoration: underline;
}
