body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 90vw; /* Reduje el ancho máximo para que los contenedores sean más pequeños */
}

.card {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px);
  height: 400px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 20px);
    margin: 5px; /* Reduje el margen para que haya menos espacio alrededor de las tarjetas */
  }

  #addIngredient {
    padding: 10px;
    width: calc(100% - 20px);
    margin: 5px; /* Reduje el margen para que haya menos espacio alrededor del formulario */
  }

  #ingredientForm label,
  #ingredientForm input,
  #ingredientForm button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
}
