<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
</head>
<body>
<form action="guardar_usuario.php" method="POST" id="signupForm">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
  </div>
  <div>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>
  </div>
  <div>
    <label for="edad">Edad</label>
    <input type="number" id="edad" name="edad" required min="18">
  </div>
  <div>
    <label>Género:</label>
    <input type="radio" id="genero_masculino" name="genero" value="Masculino" required>
    <label for="genero_masculino">Masculino</label>
    <input type="radio" id="genero_femenino" name="genero" value="Femenino" required>
    <label for="genero_femenino">Femenino</label>
  </div>
  <div>
    <label for="correo">Correo Electrónico:</label>
    <input type="email" id="correo" name="correo" required>
  </div>
  <div>
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required>
  </div>
  <div>
    <label for="confirmar_contrasena">Confirmar Contraseña:</label>
    <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required>
  </div>
  <button type="submit">Registrarse</button>
</form>

<div class="conImage">
  <img class="image" src="assets/image/logo-loyal-sips-seccion-nosotros.png" alt="">
</div>
</body>
</html>
