<div class="profile-section">
  <!-- Fondo de imagen -->
  <img class="imagen-full"
       src="https://media.discordapp.net/attachments/1145898392631918604/1160097541598220308/fondo-perfil.png?ex=65336c07&is=6520f707&hm=2d16ff24972fd76b7926cec7528ddf006641f9aa987aa0b57563b207e9520e92&=&width=1409&height=302"
       alt="Fondo de perfil">

  <!-- Contenedor de perfil con título y foto de usuario -->
  <div class="profile-container">
    <h2 class="title-profile">Jocais Ampudia</h2>

    <div class="profile-image-container">
      <img class="profile-image" #userPhoto
           src="https://media.discordapp.net/attachments/1145898392631918606/1163166280489115698/jocais.jpg?ex=653e9603&is=652c2103&hm=f7d07b1964793b81b012d068ee26a7060efb012941d4e95fe2f167b13c50f364&="
           alt="Foto de usuario">
      <!-- Botón para editar foto de perfil
      <button (click)="editarFoto()">
        <i class="fa fa -pencil"> aria-hidden="true"</i>
      </button>
      -->
    </div>
  </div>
</div>

<div class="account-details">
  <p>Fecha de Nacimiento: 24/02/2004</p>
  <p>Genero: Masculino</p>
  <p>Numero de celular: 974 408 952</p>
  <p>Correo: ampudiaflores@gmail.com</p>
</div>
