<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Agrega estilos según tus necesidades */
    #puntosButton {
      position: fixed;
      top: 100px;
      right: 100px;
      background: rgba(1, 171, 225, 0.73);
      border: none;
      outline: none;
      border-radius: 1.3rem;
      cursor: pointer;
      font-size: 1.1rem;
      color: white;
      font-weight: 500;
      padding: 10px;
    }

    #puntosButton:hover {
      background: rgba(255, 255, 255, 0.89);
      color: #01abe1;
      transition: 0.5s;
    }
  </style>
  <title>Profile Page</title>
</head>
<body>

<!-- Tu código HTML existente -->
<div class="profile-section">
  <!-- Fondo de imagen -->
  <img class="imagen-full" src="https://media.discordapp.net/attachments/1145898392631918604/1160097541598220308/fondo-perfil.png?ex=65336c07&is=6520f707&hm=2d16ff24972fd76b7926cec7528ddf006641f9aa987aa0b57563b207e9520e92&=&width=1409&height=302" alt="Fondo de perfil">

  <!-- Contenedor de perfil con título y foto de usuario -->
  <div class="profile-container">
    <h2 class="title-profile">Jean Pierre</h2>
    <div class="profile-image-container">
      <img class="profile-image" #userPhoto src="https://media.discordapp.net/attachments/1145898392631918606/1163166280489115698/jocais.jpg?ex=653e9603&is=652c2103&hm=f7d07b1964793b81b012d068ee26a7060efb012941d4e95fe2f167b13c50f364&=" alt="Foto de usuario">
    </div>
  </div>
</div>

<div class="account-details">
  <p>Birthdate: 10/04/2004</p>
  <p>Gender: Masculino</p>
  <p>Cell phone number: 950 688 942</p>
  <p>Email: jean126pi@gmail.com</p>
</div>

<!-- Botón para puntos -->
<button id="puntosButton" class="btn">Loyalty: 0</button>

<script>
  // JavaScript para contar puntos
  let puntos = 0;

  // Función para actualizar el contador y el texto del botón
  function actualizarPuntos() {
    puntos += 1; // Puedes ajustar la velocidad cambiando la cantidad que se suma
    document.getElementById('puntosButton').innerText = `Puntos: ${puntos}`;
  }

  // Configurar el intervalo para que se ejecute cada segundo
  setInterval(actualizarPuntos, 1000);
</script>

</body>
</html>
