<div class="error-container">
  <img
    src="https://media.discordapp.net/attachments/1145898392631918604/1159917802333933618/error-404-robot-removebg-preview.png?ex=6532c4a2&is=65204fa2&hm=964b4b3c83a2400d5329aa683a31fe6406a1b9fc51d6dbbed11fcbad576b87c6&="
    alt="Robot" class="robot-image">
  <h1><span>Error 404</span></h1>
  <p>Lo sentimos, la página que buscas no se ha encontrado.</p>
  <p>Puedes volver a la <a routerLink="/">página de inicio</a> o pedir ayuda a nuestro soporte.</p>
</div>
