<h1 class="title-bares">Bares</h1>

<div class="container-bares">
  <div class="row">
    <div class="col-md-4">
      <div class="card-bares-1">
        <div class="card-content">
          <img src="https://media.discordapp.net/attachments/1145898392631918606/1163231536699682817/bar-lanchita.png?ex=653ed2ca&is=652c5dca&hm=ed9fc8bedb74238e766854cde8d429e1c6124fd2f2eaf08af75bcf3c8c199e1d&=" class="img-fluid" alt="bar-lanchita">
          <div class="text-content">
            <h3 class="card-title-1">Bar Lanchita</h3>
            <p class="card-text-1">Ubicado en Avenida San Martin</p>
            <a href="https://www.google.com/maps/place/LANCHITA+BAR/@-5.0613695,-73.8526309,19z/data=!4m6!3m5!1s0x91bf93f1432d95af:0x1e5824f92280a063!8m2!3d-5.0614073!4d-73.8524691!16s%2Fg%2F11h26_9csh?entry=ttu" target="_blank" class="btn btn-primary btn-google-maps">Ver en Google Maps</a>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-bares-2">
        <div class="card-content">
          <img src="https://media.discordapp.net/attachments/1145898392631918606/1163231535969873970/bar2.png?ex=653ed2c9&is=652c5dc9&hm=9adf6001e8add34b5cee3a4b8b25d37f2a55f2cfd660de9706f02e9433345926&=" class="img-fluid" alt="bar-lanchita">
          <div class="text-content">
            <h3 class="card-title-2">Lima Bar</h3>
            <p class="card-text-2">Ubicado en Miraflores</p>
            <a href="https://www.google.com/maps/place/Lima+Bar/@-12.1324887,-77.032779,17z/data=!3m1!4b1!4m6!3m5!1s0x9105b7e1b226b93f:0x271b46145885a7dc!8m2!3d-12.132494!4d-77.0302041!16s%2Fg%2F11f53gx2rq?entry=ttu" target="_blank" class="btn btn-primary btn-google-maps">Ver en Google Maps</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-bares-3">
        <div class="card-content">
          <img src="https://media.discordapp.net/attachments/1145898392631918606/1163231536225734716/Bar3.png?ex=653ed2ca&is=652c5dca&hm=885ba670cd6cd1aa99b70b730363f79468f33de216b0d2f3318bfedbc756dd19&=" class="img-fluid" alt="bar-lanchita">
          <div class="text-content">
            <h3 class="card-title-3">Barranco bar</h3>
            <p class="card-text-3">Ubicado en Barranco</p>
            <a href="https://www.google.com/maps/place/Barranco+Bar/@-12.1457599,-77.0208964,17z/data=!4m10!1m2!2m1!1sbarraco+bar!3m6!1s0x9105b7f72efb2255:0x4f2e91da06ef5dca!8m2!3d-12.1430535!4d-77.0156088!15sCgtiYXJyYWNvIGJhcloNIgtiYXJyYWNvIGJhcpIBA2JhcuABAA!16s%2Fg%2F1thz2qsd?entry=ttu" target="_blank" class="btn btn-primary btn-google-maps">Ver en Google Maps</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-bares-4">
        <div class="card-content">
          <img src="https://media.discordapp.net/attachments/1145898392631918606/1163231536464805948/Bar4.png?ex=653ed2ca&is=652c5dca&hm=7122b1fb3947b239ea3fa79fbca3728e8ba28d0f9ca74f576d91e46d0147f426&=" class="img-fluid" alt="bar-lanchita">
          <div class="text-content">
            <h3 class="card-title-4">Bar Olé</h3>
            <p class="card-text-4">Ubicado en San Isidro</p>
            <a href="https://www.google.com/maps/place/C.+Pancho+Fierro+109,+San+Isidro+15073/@-12.0969498,-77.0378139,17z/data=!3m1!4b1!4m6!3m5!1s0x9105c842cca9d58d:0x71c63604ba493061!8m2!3d-12.0969551!4d-77.035239!16s%2Fg%2F11j1lhhrnh?entry=ttu" target="_blank" class="btn btn-primary btn-google-maps">Ver en Google Maps</a>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
