<h1 class="title-bares">Bares</h1>

<div class="container-bares">
  <div class="row">
    <div class="col-md-4">
      <div class="card-bares-1">
        <div class="card-content">
          <img src="https://media.discordapp.net/attachments/1145898392631918606/1163231536699682817/bar-lanchita.png?ex=653ed2ca&is=652c5dca&hm=ed9fc8bedb74238e766854cde8d429e1c6124fd2f2eaf08af75bcf3c8c199e1d&=" class="img-fluid" alt="bar-lanchita">
          <div class="text-content">
            <h3 class="card-title-1">Bar Lanchita</h3>
            <p class="card-text-1">Ubicado en Avenida San Martin</p>
            <a [routerLink]="['bar-profile', 'id']" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-bares-2">
        <div class="card-content">
          <img src="https://media.discordapp.net/attachments/1145898392631918606/1163231535969873970/bar2.png?ex=653ed2c9&is=652c5dc9&hm=9adf6001e8add34b5cee3a4b8b25d37f2a55f2cfd660de9706f02e9433345926&=" class="img-fluid" alt="bar-lanchita">
          <div class="text-content">
            <h3 class="card-title-2">Rimberio’s Bar & Cafe</h3>
            <p class="card-text-2">Ubicado en Jiron Aldebaran.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-bares-3">
        <div class="card-content">
          <img src="https://media.discordapp.net/attachments/1145898392631918606/1163231536225734716/Bar3.png?ex=653ed2ca&is=652c5dca&hm=885ba670cd6cd1aa99b70b730363f79468f33de216b0d2f3318bfedbc756dd19&=" class="img-fluid" alt="bar-lanchita">
          <div class="text-content">
            <h3 class="card-title-3">Berna Cocteles</h3>
            <p class="card-text-3">Ubicado en Jiron San Juan Bautista.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-bares-4">
        <div class="card-content">
          <img src="https://media.discordapp.net/attachments/1145898392631918606/1163231536464805948/Bar4.png?ex=653ed2ca&is=652c5dca&hm=7122b1fb3947b239ea3fa79fbca3728e8ba28d0f9ca74f576d91e46d0147f426&=" class="img-fluid" alt="bar-lanchita">
          <div class="text-content">
            <h3 class="card-title-4">Cocktail Bar</h3>
            <p class="card-text-4">Ubicado en Avenida Abelardo Quiñones</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
