<div class="login-container">

  <div class="wrapper" [ngClass]="{'active': !isInactive}">
    <div class="form-box register">
      <h2 class="title-register">Register</h2>
      <form id="signupForm">
        <div class="input-box">
          <span class="icon"></span>
          <input type="text" id="nombre" name="nombre" required>
          <label>UserName</label>
        </div>

        <div class="input-box">
          <span class="icon"></span>
          <input type="text" id="apellido" name="apellido" required>
          <label>Last Name</label>
        </div>

        <div class="input-box">
          <span class="icon"></span>
          <input type="number" id="edad" name="edad" required min="18">
          <label>Age</label>
        </div>



        <div class="input-box">
          <span class="icon"></span>
          <input type="email" id="correo" name="correo" required>
          <label>Email</label>
        </div>

        <div class="input-box">
          <span class="icon"></span>
          <input type="password" id="contrasena" name="contrasena" required>
          <label>Password</label>
        </div>

        <div class="input-box">
          <span class="icon"></span>
          <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required>
          <label>Confirmar Contraseña</label>
        </div>

        <button type="button" class="btn" (click)="onLoginButtonClick()">Sign up</button>
      </form>
    </div>
  </div>

</div>

