<div class="table-wrapper">
  <h1>Ingredients Catalogue</h1>

  <!-- Add/Edit Form -->
  <app-student-form (editCanceled)="onCancelEdit()" (studentAdded)="onStudentAdded($event)"
                    (studentUpdated)="onStudentAdded($event)"
                    [editMode]="isEditMode"
                    [student]="studentData"/>

  <!-- Data Table -->
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> #Id</th>
      <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
      <td *matCellDef="let element" mat-cell>{{ element.nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Cost</th>
      <td *matCellDef="let element" mat-cell>{{ element.costo }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let element" mat-cell>
        <a href="javascript:void(0)" (click)="onEditItem(element)">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button color="warn" (click)="onDeleteItem(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" [ngClass]="{'editable-row': studentData.id === row.id }" mat-row></tr>
  </table>
  <!-- Paginator Child Component -->
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>

</div>
