<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<div clas="center-content">
  <h1><br>About<br><br></h1>
<div class="content-box">
  <div class="logo">
    <img src="/assets/image/logo-loyal-sips-seccion-nosotros.png" alt="Imagen">
  </div>
  <div class="left-content">
    <h2 class="about-heading">Somos Loyalsips</h2>
    <p><br><br>"Generando oportunidades para los amantes de la vida nocturna: <br>Donde los consumidores y los negocios se encuentran en un <br> brindis de éxito compartido"</p>
  </div>
</div>
</div>

<div class="rectangle">
  <div class="content-box">
    <div class="text">
    <p>
      <br><br>"Loyalsips revoluciona la experiencia de en bares, ofreciendo mejoras tanto para los clientes como para los
      propietarios. Proporcionamos a los dueños de bares las herramientas
      necesarias para un control efectivo de la administracion, al tiempo que
      enriquecemos la experiencia de los clientes en su establecimiento"
    </p>
      </div>
    <div class="image">
      <img src="assets/image/image-seccion%20contacto.png" alt="Logo-loyalSips">
      </div>
  </div>
</div>

</body>

</html>
