/* Estilos para el cuadro gris de la descripción */
.description-box {
  background-color: #f0f0f0; /* Color de fondo gris */
  padding: 1rem;
  text-align: justify; /* Justificar el texto */
}

/* Estilos para el texto dentro del cuadro gris */
.description-text {
  font-size: 1rem;
  color: #fff; /* Color de texto blanco */
  line-height: 1.5; /* Espaciado entre líneas */
}


/* Estilos para el contenedor principal */
.content-box {
  display: flex;
  justify-content: center; /* Cambiar a centrar horizontalmente */
  align-items: center;
  padding: 2rem;
  text-align: center;
  margin-top: 5rem;
}

/* Estilos para el logotipo */
.logo img {
  max-width: 14rem;
  height: auto;
  padding: 0 2rem;
}


/* Estilos para la sección izquierda */
.left-content {
  flex: 1;
  padding: 1rem;
}

/* Estilos para el encabezado */
.about-heading {
  font-size: 3.8rem;
  color: #ffffff;
  margin-bottom: 1rem; /* Margen inferior */
}

.description-text-1{
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem; /* Margen inferior */
  margin-top: 3rem;
  line-height: 2rem;
  text-align: justify;
}


/* Estilos para el cuadro gris */
.rectangle {
  max-width: 800px; /* Ancho máximo del cuadro gris */
  margin: 0 auto; /* Centrar el cuadro gris en la página */
  background-color: #5a5959; /* Color de fondo del cuadro gris */
  padding: 3rem; /* Espaciado interior del cuadro gris */
}

/* Estilos para la imagen dentro del cuadro gris */
.box-with-image {
  display: flex; /* Utilizamos flexbox para colocar la imagen y el texto en línea */
  align-items: center; /* Centrar verticalmente los elementos dentro del cuadro gris */
}

.image {
  flex: 1; /* La imagen ocupa una parte del espacio disponible */
  padding-right: 2rem; /* Espaciado a la derecha de la imagen */
}

.description-text {
  margin: 0; /* Eliminar el margen predeterminado del párrafo */
  text-align: justify;
  font-size: 1.4rem;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 320px) {
  /* Tamaño de fuente más pequeño para el título "About" en pantallas pequeñas */
  .titulo-about {
    font-size: 3em;
  }

  /* Tamaño de fuente más pequeño para el párrafo de descripción en pantallas pequeñas */
  .description-box p {
    font-size: 0.9rem;
  }
}
