<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div >
  <h1>Nosotros</h1>
  <br>
  <h2>Somos Loyalsips</h2>
  <p>Generando oportunidades para los amantes de la vida nocturna: <br>Donde los consumidores y los negocios se encuentran en un <br> brindis de éxito compartido</p>
</div>
<div class="conImage">
  <img class="image" src="assets/image/logo-loyal-sips-seccion-nosotros.png" alt="">
</div>
</body>




</html>
