<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div >
  <h1>About</h1>
  <br>
  <h2>Somos Loyalsips</h2>
  <p>Generando oportunidades para los amantes de la vida nocturna: <br>Donde los consumidores y los negocios se encuentran en un <br> brindis de éxito compartido</p>
</div>
<div class="conImage">
  <img class="image" src="assets/image/logo-loyal-sips-seccion-nosotros.png" alt="">
</div>
<div class="rectangle">
</div>
<div class="Simage">
  <img class="image" src="assets/image/image-seccion%20contacto.png" alt="">
</div>
<div class="text">
  <p>
    "Loyalsips revoluciona la experiencia de <br>
     en bares, ofreciendo mejoras <br>
     tanto para los clientes como para los <br>
     propietarios. Proporcionamos a los <br>
     dueños de bares las herramientas <br>
     necesarias para un control efectivo de la <br>
     administracion, al tiempo que <br>
     enriquecemos la experiencia <br>
     de los clientes en su establecimiento"
  </p>
</div>

</body>




</html>
